<div class="card border-success mb-3" style="max-width: 30rem;min-height:20rem;">
<div class="card-header text-center text-white bg-success"><b>Pie Chart Generator</b></div>
<div class="card-body">

<form [formGroup]="myform">
    <div formArrayName="data">
      <div *ngFor="let group of dataArray.controls; let i = index" [formGroupName]="i" class="row mb-2">
        <div class="col-5">
          <input type="text" formControlName="name" placeholder="Name" class="form-control"
            (keypress)="allowOnlyAlphabets($event)" (input)="onInputChange($event)"/>

            <div *ngIf="group.get('name')?.invalid && group.get('name')?.touched" class="fs8 text-danger">
                Name is required
            </div>
        </div>
        <div class="col-5">
          <input type="number" formControlName="value" placeholder="Value" class="form-control"
            (keypress)="preventNegative($event)"
            (keydown)="preventArrowKeys($event)"
            (input)="onInputChange($event)"/>

            <div *ngIf="group.get('value')?.invalid && group.get('value')?.touched" class="fs8 text-danger">
                Value is required
            </div>
        </div>
        <div class="col-2">
          <button class="btn btn-danger" type="button" (click)="removeRow(i)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="position-absolute bottom-0 start-0 end-0 text-center p-3 bg-white">
    <button class="btn btn-primary me-2" type="button" (click)="addRow()">Add</button>
    <button class="btn btn-success" type="button" (click)="onSubmit()">Generate</button>
  </div>

</div>
</div>
  