/* 
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbg{
    background-color: #675fe6;
}
.txtwhite{
    color: white;
}
.mr{
    margin-right: 7px;
}
.border{
    border: none;
}
.trash{
    display: flex;
    justify-content: center;
    align-items: end;
}
.fs8{
    font-size: 10px;
}
.maxh{
    max-height: 70px;
}
.pr0{
    padding-right: 0;
}
 */