<div class="container mt-4">
  <!-- <div class="card border-success mb-3" style="max-width: 30rem;min-height:20rem;">
    <div class="card-header text-center text-white bg-success"><b>Pie Chart Generator</b></div>
    <div class="card-body"> -->
      <!-- <app-chart-form 
     (formDataChange)="onFormDataChange($event)"
     (chartVisibilityChange)="showChart = $event">
     </app-chart-form> -->
    <!-- </div>
  </div> -->

 <!--  <div *ngIf="showChart">
    <app-chart 
    [chartData]="chartData"
    ></app-chart>
  </div> -->
</div>


<app-chart-form 
(formDataChange)="onFormDataChange($event)"
(chartVisibilityChange)="showChart = $event">
</app-chart-form>

<div *ngIf="showChart">
  <app-chart 
  [chartData]="chartData"
  ></app-chart>
</div>

